Build/Intermediates/testmodulehost.build/Debug-iphoneos/testmodulehost.build/dgph
Build/Intermediates/testmodulehost.build/Debug-iphoneos/testmodulehost.build/testmodulehost-all-non-framework-target-headers.hmap
Build/Intermediates/testmodulehost.build/Debug-iphoneos/testmodulehost.build/testmodulehost-all-target-headers.hmap
Build/Intermediates/testmodulehost.build/Debug-iphoneos/testmodulehost.build/testmodulehost-generated-files.hmap
Build/Intermediates/testmodulehost.build/Debug-iphoneos/testmodulehost.build/testmodulehost-own-target-headers.hmap
Build/Intermediates/testmodulehost.build/Debug-iphoneos/testmodulehost.build/testmodulehost-project-headers.hmap
Build/Intermediates/testmodulehost.build/Debug-iphoneos/testmodulehost.build/testmodulehost.hmap
Build/Intermediates/testmodulehost.build/Debug-iphoneos/testmodulehost.build/Objects-normal/armv7/testmodulehost.LinkFileList
DerivedData/ModuleCache/modules.timestamp
DerivedData/ModuleCache/252CMIA0DFWVI/CFNetwork-X6285MXUV755.pcm
DerivedData/ModuleCache/252CMIA0DFWVI/CoreFoundation-3RWGSD63WW4BH.pcm
DerivedData/ModuleCache/252CMIA0DFWVI/CoreGraphics-X6285MXUV755.pcm
DerivedData/ModuleCache/252CMIA0DFWVI/CoreImage-X6285MXUV755.pcm
DerivedData/ModuleCache/252CMIA0DFWVI/CoreText-X6285MXUV755.pcm
DerivedData/ModuleCache/252CMIA0DFWVI/CoreVideo-3UWX7JEJB3V95.pcm
DerivedData/ModuleCache/252CMIA0DFWVI/Darwin-29XPUSGKOXLVN.pcm
DerivedData/ModuleCache/252CMIA0DFWVI/Dispatch-1G7A1AHGPCATZ.pcm
DerivedData/ModuleCache/252CMIA0DFWVI/Foundation-1VZT29YFRMXA2.pcm
DerivedData/ModuleCache/252CMIA0DFWVI/Metal-X6285MXUV755.pcm
DerivedData/ModuleCache/252CMIA0DFWVI/modules.idx
DerivedData/ModuleCache/252CMIA0DFWVI/ObjectiveC-9T9V4NSPAJAN.pcm
DerivedData/ModuleCache/252CMIA0DFWVI/OpenGLES-1AMY8HA37YL0.pcm
DerivedData/ModuleCache/252CMIA0DFWVI/os-29XPUSGKOXLVN.pcm
DerivedData/ModuleCache/252CMIA0DFWVI/QuartzCore-33YQ6SGRI5N6Y.pcm
DerivedData/ModuleCache/252CMIA0DFWVI/Security-TJWQMN7JMVU1.pcm
DerivedData/ModuleCache/252CMIA0DFWVI/UIKit-345QY7DETDSD1.pcm
DerivedData/testmoduleworkspace/info.plist
DerivedData/testmoduleworkspace/scm.plist
DerivedData/testmoduleworkspace/TextIndex/text-filter.idx
